body {
    background-color: #7AB2B2;
}

/* everything currently width 100 as placeholder */
.weekly-graph, .monthly-graph, .yearly-graph {
    width: 100%;
}

.exercise {
    width: 100%;
}

.routine {
    width: 100%;
}

.nutrition {
    width: 100%;
}