body{
    background-color: #7AB2B2;
    height: 100%;
}


form{
    width: 28%;
    margin: auto;
    padding-top: 150px;
}

.bg{
    background-color: #FFEADD;
}

.btn-color {
    background-color: #4D869C;
    border: none;
}