body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar h1 {
    padding-left: 16px;
}

.navbar {
    background-color: #004d78;
    color: #FAF9F6;
}

.navbar button {
    background-color: #4f9e9e;
    border-radius: 15px;
    border-style: none;
    color: white;
    padding: 10px;
}

.footer {
    display: flex;
    background-color: #004d78;
    justify-content: center;
}

.footer h3 {
    margin: 10px;
    margin-left: 140px;
    text-decoration: underline;
}

.footer a {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer .button {
    background-color: #4f9e9e;
    border: 5px;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    box-shadow: 10px color black;
    font-size: 16px;
    justify-content: center;
    text-decoration: none;
    margin: 15px;
  }

  .login, .logout {
    margin: 20px;
    margin-right: 100px;
  }

  .profile {
    margin: 0px;
  }

  .home {
    position: absolute;
    left: 1800px;
    margin: 20px;
  }